################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SWKTOOL/FileContentIndex/read.lock
/.vs/SWKTOOL/FileContentIndex/e55d40b7-4d3f-4ddc-8cca-f0bd1b4d0351.vsidx
/.vs/SWKTOOL/FileContentIndex/cc57d944-8694-4de1-8a8b-56866a8f345d.vsidx
/.vs/SWKTOOL/FileContentIndex/b0ddf52d-8c74-4f8a-96de-8a1176b71d63.vsidx
/.vs/SWKTOOL/FileContentIndex/2672d6d4-1a1b-4b7e-b3d0-f0a6b3e38931.vsidx
/.vs/SWKTOOL/v16/Solution.VC.db
/.vs/SWKTOOL/v16/Browse.VC.db
/.vs/SWKTOOL/v17/ipch/afe1e02d3df9b9a9.ipch
/.vs/SWKTOOL/v17/ipch/86b2a51cba5ffb3b.ipch
/.vs/SWKTOOL/v17/ipch/75317801ba4dd0e1.ipch
/.vs/SWKTOOL/v17/ipch/37ae3d477a06940a.ipch
/.vs/SWKTOOL/v17/ipch/1707d8282eb08258.ipch
/.vs/SWKTOOL/v17/fileList.bin
/.vs/SWKTOOL/v17/Browse.VC.opendb
/.vs/SWKTOOL/v17/Browse.VC.db-wal
/.vs/SWKTOOL/v17/Browse.VC.db-shm
/.vs/SWKTOOL/v17/Browse.VC.db
/.vs/SWKTOOL/v17/ipch/c25f8be183a9e1a2.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/fa4a81b3a23fd4/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/f4f805598e483589/SIGNWAVEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/f4d00dc5c34994ca/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/cb0c5b6906ceb17c/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/c2aafb906bc5c3b7/MDIDEMO.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/af24e3ba3feca317/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/af06b38d865083f1/APPLOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/a0de06f8e5fab13e/APPLOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/994df85856d6e850/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/952ee81e3526038b/APPLOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/86c58f09a8a14583/TESTMDIFRAMEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/75b218f89509e03e/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/6f5648272a26ccc9/MDIDEMO.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/695a204ed9b1e6cf/EXCEPTIONTEST.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/663f7841ce3a43c4/EXCEPTIONTEST.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/51fabb57b9654989/TESTMDIFRAMEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/4ec0fe6f3a81431/EXCEPTIONTEST.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/4e1660e7bb2ee28f/WINAPP.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/47eb3217f01e78e2/EXCEPTIONTEST.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/456053c6cfda89a2/MDIDEMO.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/36a1435eba3120f4/MDIDEMO.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/28bf6a83a8eae065/SIGNWAVE.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/275d00df2a64e4b1/APPSIGNWAVEFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/1fb9802c16a78994/LOGGER.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/13cd1b33f8e4873/DEBUGSTREAM.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/108ce160108883ea/WINAPP.ipch
/ExceptionTest/Exception.log
/ExceptionTest/Debug/vc143.pdb
/ExceptionTest/Debug/vc143.idb
/ExceptionTest/Debug/ExceptionTest.vcxproj.FileListAbsolute.txt
/ExceptionTest/Debug/ExceptionTest.tlog/unsuccessfulbuild
/ExceptionTest/Debug/ExceptionTest.tlog/link.write.1.tlog
/ExceptionTest/Debug/ExceptionTest.tlog/link.read.1.tlog
/ExceptionTest/Debug/ExceptionTest.tlog/link.command.1.tlog
/ExceptionTest/Debug/ExceptionTest.tlog/ExceptionTest.lastbuildstate
/ExceptionTest/Debug/ExceptionTest.tlog/CL.write.1.tlog
/ExceptionTest/Debug/ExceptionTest.tlog/CL.read.1.tlog
/ExceptionTest/Debug/ExceptionTest.tlog/CL.command.1.tlog
/ExceptionTest/Debug/ExceptionTest.obj
/ExceptionTest/Debug/ExceptionTest.log
/ExceptionTest/Debug/ExceptionTest.exe.recipe
/ExceptionTest/Debug/ExceptionTest.Build.CppClean.log
/ExceptionTest/crashdump.dmp
/Debug/WinApp.pdb
/Debug/WinApp.exe
/Debug/SWKUI.pdb
/Debug/SWKUI.lib
/ExceptionTest/Release/_IsIncrementalBuild
/ExceptionTest/Release/ExceptionTest.vcxproj.FileListAbsolute.txt
/ExceptionTest/Release/ExceptionTest.tlog/link.write.1.tlog
/ExceptionTest/Release/ExceptionTest.tlog/link.read.1.tlog
/ExceptionTest/Release/ExceptionTest.tlog/link.command.1.tlog
/ExceptionTest/Release/ExceptionTest.tlog/ExceptionTest.lastbuildstate
/ExceptionTest/Release/ExceptionTest.tlog/CL.write.1.tlog
/ExceptionTest/Release/ExceptionTest.tlog/CL.read.1.tlog
/ExceptionTest/Release/ExceptionTest.tlog/CL.command.1.tlog
/ExceptionTest/Release/ExceptionTest.obj
/ExceptionTest/Release/ExceptionTest.log
/ExceptionTest/Release/ExceptionTest.ipdb
/ExceptionTest/Release/ExceptionTest.iobj
/ExceptionTest/Release/ExceptionTest.exe.recipe
/ExceptionTest/Release/ExceptionTest.Build.CppClean.log
/ExceptionTest/ExceptionTest.vcxproj.user
/WinApp/Release/WinApp.obj
/WinApp/Release/SimpleWindow.obj
/WinApp/Release/AppWinFrame.obj
/WinApp/Debug/WinApp.obj
/WinApp/Debug/SimpleWindow.obj
/WinApp/Debug/AppWinFrame.obj
/SWKUI/Release/WinRegistration.obj
/SWKUI/Release/WinMemory.obj
/SWKUI/Release/WinFrame.obj
/SWKUI/Release/WinEventHandler.obj
/SWKUI/Release/Window.obj
/SWKUI/Release/WinClipboard.obj
/SWKUI/Release/UpDownCtrl.obj
/SWKUI/Release/ui.obj
/SWKUI/Release/TreeViewCtrl.obj
/SWKUI/Release/TooltipCtrl.obj
/SWKUI/Release/ToolbarCtrl.obj
/SWKUI/Release/TabCtrl.obj
/SWKUI/Release/SysLinkCtrl.obj
/SWKUI/Release/SWKUI.obj
/SWKUI/Release/StatusBarCtrl.obj
/SWKUI/Release/StaticTextCtrl.obj
/SWKUI/Release/SliderCtrl.obj
/SWKUI/Release/ScrollBarCtrl.obj
/SWKUI/Release/RichEditCtrl.obj
/SWKUI/Release/ProgressBarCtrl.obj
/SWKUI/Release/pch.obj
/SWKUI/Release/MonthCalendarCtrl.obj
/SWKUI/Release/MDIFrameWindow.obj
/SWKUI/Release/MDIClientWindow.obj
/SWKUI/Release/ListViewCtrl.obj
/SWKUI/Release/ListboxCtrl.obj
/SWKUI/Release/ImageList.obj
/SWKUI/Release/HeaderCtrl.obj
/SWKUI/Release/GroupboxCtrl.obj
/SWKUI/Release/GDIObject.obj
/SWKUI/Release/EditCtrl.obj
/SWKUI/Release/Drawing.obj
/SWKUI/Release/DialogWindow.obj
/SWKUI/Release/DeviceContext.obj
/SWKUI/Release/DateTimePickerCtrl.obj
/SWKUI/Release/Ctrl.obj
/SWKUI/Release/ControlHost.obj
/SWKUI/Release/ComboBoxExCtrl.obj
/SWKUI/Release/ComboboxCtrl.obj
/SWKUI/Release/ButtonCtrl.obj
/SWKUI/Release/Brush.obj
/SWKUI/Release/Bitmap.obj
/SWKUI/Release/AnimationCtrl.obj
/SWKUI/Debug/WinRegistration.obj
/SWKUI/Debug/WinMemory.obj
/SWKUI/Debug/WinFrame.obj
/SWKUI/Debug/WinEventHandler.obj
/SWKUI/Debug/Window.obj
/SWKUI/Debug/WinClipboard.obj
/SWKUI/Debug/UpDownCtrl.obj
/SWKUI/Debug/ui.obj
/SWKUI/Debug/TreeViewCtrl.obj
/SWKUI/Debug/TooltipCtrl.obj
/SWKUI/Debug/ToolbarCtrl.obj
/SWKUI/Debug/TabCtrl.obj
/SWKUI/Debug/SysLinkCtrl.obj
/SWKUI/Debug/SWKUI.obj
/SWKUI/Debug/StatusBarCtrl.obj
/SWKUI/Debug/StaticTextCtrl.obj
/SWKUI/Debug/SliderCtrl.obj
/SWKUI/Debug/ScrollBarCtrl.obj
/SWKUI/Debug/RichEditCtrl.obj
/SWKUI/Debug/ProgressBarCtrl.obj
/SWKUI/Debug/pch.obj
/SWKUI/Debug/MonthCalendarCtrl.obj
/SWKUI/Debug/MDIFrameWindow.obj
/SWKUI/Debug/MDIClientWindow.obj
/SWKUI/Debug/ListViewCtrl.obj
/SWKUI/Debug/ListboxCtrl.obj
/SWKUI/Debug/ImageList.obj
/SWKUI/Debug/HeaderCtrl.obj
/SWKUI/Debug/GroupboxCtrl.obj
/SWKUI/Debug/GDIObject.obj
/SWKUI/Debug/EditCtrl.obj
/SWKUI/Debug/Drawing.obj
/SWKUI/Debug/DialogWindow.obj
/SWKUI/Debug/DeviceContext.obj
/SWKUI/Debug/DateTimePickerCtrl.obj
/SWKUI/Debug/Ctrl.obj
/SWKUI/Debug/ControlHost.obj
/SWKUI/Debug/ComboBoxExCtrl.obj
/SWKUI/Debug/ComboboxCtrl.obj
/SWKUI/Debug/ButtonCtrl.obj
/SWKUI/Debug/Brush.obj
/SWKUI/Debug/Bitmap.obj
/SWKUI/Debug/AnimationCtrl.obj
/SWKBase/Release/ThreadPool.obj
/SWKBase/Release/TCPServer.obj
/SWKBase/Release/TCPComm.obj
/SWKBase/Release/TCPClient.obj
/SWKBase/Release/TBuffer.obj
/SWKBase/Release/SWKBase.obj
/SWKBase/Release/pch.obj
/SWKBase/Release/main.obj
/SWKBase/Release/Logger.obj
/SWKBase/Release/Exception.obj
/SWKBase/Release/DebugStream.obj
/SWKBase/Debug/ThreadPool.obj
/SWKBase/Debug/TCPServer.obj
/SWKBase/Debug/TCPComm.obj
/SWKBase/Debug/TCPClient.obj
/SWKBase/Debug/TBuffer.obj
/SWKBase/Debug/SWKBase.obj
/SWKBase/Debug/pch.obj
/SWKBase/Debug/main.obj
/SWKBase/Debug/Logger.obj
/SWKBase/Debug/Exception.obj
/SWKBase/Debug/DebugStream.obj
/SignWave/Release/SignWaveWindow.obj
/SignWave/Release/SignWave.obj
/SignWave/Release/AppSignWaveFrame.obj
/SignWave/Debug/SignWaveWindow.obj
/SignWave/Debug/SignWave.obj
/SignWave/Debug/AppSignWaveFrame.obj
/MDIDemo/Release/TestMDIFrameWindow.obj
/MDIDemo/Release/MDIDemo.obj
/MDIDemo/Release/AppWinFrame.obj
/MDIDemo/Release/AppLog.obj
/MDIDemo/Debug/TestMDIFrameWindow.obj
/MDIDemo/Debug/MDIDemo.obj
/MDIDemo/Debug/AppWinFrame.obj
/MDIDemo/Debug/AppLog.obj
/.vs/SWKTOOL/CopilotIndices/18.3.277.3498/CodeChunks.db
/.vs/SWKTOOL/CopilotIndices/18.3.277.3498/SemanticSymbols.db
/.vs/SWKTOOL/FileContentIndex/109fdebf-f9dc-439b-8e13-652c83487bac.vsidx
/.vs/SWKTOOL/FileContentIndex/328441ed-6184-4ec0-9c5b-b61e251097a3.vsidx
/.vs/SWKTOOL/FileContentIndex/5c218d54-115c-47f0-a7e3-d20f2b97880f.vsidx
/.vs/SWKTOOL/FileContentIndex/600147f8-a8fc-44e1-bfe3-15c87bd75d10.vsidx
/.vs/SWKTOOL/FileContentIndex/6d938010-99a2-428b-99c4-dc484d132d5d.vsidx
/.vs/SWKTOOL/v16/.suo
/.vs/SWKTOOL/v17/.suo
/.vs/SWKTOOL/v17/DocumentLayout.backup.json
/.vs/SWKTOOL/v17/DocumentLayout.json
/.vs/SWKTOOL/v17/ipch/21f979bb44c9d1b3.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/131a6215bc27303/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/140bdaf857697d24/SIGNWAVEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/167125aafeb9da99/TEST1DLG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/1d271f9a5e4ed467/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/2ac2bc31384376a4/WINAPP.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/31dbc4eaf17c6fbc/SIGNWAVE.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/325a9427bef9bf18/TESTMDIFRAMEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/343342aca8bcdba/SIGNWAVEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/37b2b732bd7fda8d/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/41c87c1c599afb4/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/45c1eaf68853d7b2/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/525a8e5836c949a7/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/5399a7725747f940/APPLOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/735b32f8a26937ad/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/76f07a6bd03e2f83/SIGNWAVE.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/7d01f885584fc988/APPSIGNWAVEFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/7e48068faead09d2/SIGNWAVEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/7ee3848ae2e14bb3/TESTMDIFRAMEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/81c28a124d52d5ad/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/8941e130862104b3/FRAMEWORK.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/8e8064aefa1f38b8/DEBUGSTREAM.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/956d7fcb2d0f1f39/VCTMP2600_686635.MSGHANDLER.00000000.HEAD.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/9b86143b8f43df5/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/a2f5efc22a4827f7/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/adf459bd8f4fd625/SIMPLEDIALOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/b951c90f846562a4/SIMPLEDIALOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/bfbcdc802023e515/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/bfc8d19d7c6da749/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/c7d059cc20ad394a/WINMEMORY.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/cec913eb4893e73e/APPSIGNWAVEFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/e353c2ededc57ce/TESTMDIFRAMEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/e3d624cdd1e6854/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/e45a26875cd9ded5/SIMPLEDIALOG.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/faee860905806f42/SIMPLEDIALOG.ipch
/.vs/SWKTOOL/v17/ipch/d21fc5eb18a4f640.ipch
/.vs/SWKTOOL/v17/Solution.VC.db
/.vs/SWKTOOL/v18/.suo
/.vs/SWKTOOL/v18/DocumentLayout.backup.json
/.vs/SWKTOOL/v18/DocumentLayout.json
/.vs/SWKTOOL/v18/fileList.bin
/.vs/SWKTOOL/v18/Insiders/Browse.VC.db
/.vs/SWKTOOL/v18/Insiders/Browse.VC.db-shm
/.vs/SWKTOOL/v18/Insiders/Browse.VC.db-wal
/.vs/SWKTOOL/v18/Insiders/Browse.VC.opendb
/.vs/SWKTOOL/v18/Insiders/ipch/3b6cc50e811705eb.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/5a0f87b906998d5c.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/6654adac961fb5a7.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/2340b857286c8c7e/SIMPLEDIALOG.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/44034cf1025fd3f3/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/5a85a6b18963f82d/TEST1DLG.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/648721742ee1a50e/DIALOGCONTROLS.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/6d6a8e1c7ed65149/FILEENUMS.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/b24ae164b63d0d9e/EXCEPTIONTEST.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/c0b280e6f88e8028/TESTMDIFRAMEWINDOW.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/cde0c6082b3738ca/RECTWINDOW.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/d21799204549fe3a/SIGNWAVE.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/e22628e774469592/MDIDEMO.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/f656f5ca33ad508e/APPLOG.ipch
/.vs/SWKTOOL/v18/Insiders/Solution.VC.db
/.vs/SWKTOOL/v18/Insiders/Solution.VC.db-shm
/.vs/SWKTOOL/v18/Insiders/Solution.VC.db-wal
/Debug/DialogControls.exe
/Debug/DialogControls.pdb
/Debug/Exception.log
/.vs/SWKTOOL/v17/ipch/AutoPCH/624e96c191c05e22/SIGNWAVE.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/6c71af47b2f7a3f2/SIMPLEWINDOW.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/6ec637863b18c951/APPWINFRAME.ipch
/.vs/SWKTOOL/v17/ipch/AutoPCH/e04dd8211f94f0bb/SIMPLEDIALOG.ipch
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/1f1344de702ca3b0/HELLOWINDOW.ipch
/DialogControls/Debug/DialogControls.ilk
/DialogControls/Debug/DialogControls.log
/DialogControls/Debug/DialogControls.obj
/DialogControls/Debug/DialogControls.res
/DialogControls/Debug/DialogControls.tlog/CL.command.1.tlog
/DialogControls/Debug/DialogControls.tlog/Cl.items.tlog
/DialogControls/Debug/DialogControls.tlog/CL.read.1.tlog
/DialogControls/Debug/DialogControls.tlog/CL.write.1.tlog
/DialogControls/Debug/DialogControls.tlog/DialogControls.lastbuildstate
/DialogControls/Debug/DialogControls.Build.CppClean.log
/DialogControls/Debug/DialogControls.exe.recipe
/DialogControls/Debug/DialogControls.tlog/link.command.1.tlog
/DialogControls/Debug/DialogControls.tlog/link.read.1.tlog
/DialogControls/Debug/DialogControls.tlog/link.secondary.1.tlog
/DialogControls/Debug/DialogControls.tlog/link.write.1.tlog
/DialogControls/Debug/DialogControls.tlog/rc.command.1.tlog
/DialogControls/Debug/DialogControls.tlog/rc.read.1.tlog
/DialogControls/Debug/DialogControls.tlog/rc.write.1.tlog
/DialogControls/Debug/DialogControls.vcxproj.FileListAbsolute.txt
/DialogControls/Debug/vc143.idb
/DialogControls/Debug/vc143.pdb
/DialogControls/DialogControls.aps
/DialogControls/DialogControls.vcxproj
/DialogControls/Release/DialogControls.Build.CppClean.log
/DialogControls/Release/DialogControls.exe.recipe
/DialogControls/Release/DialogControls.iobj
/DialogControls/Release/DialogControls.ipdb
/DialogControls/Release/DialogControls.log
/DialogControls/Release/DialogControls.obj
/DialogControls/Release/DialogControls.res
/DialogControls/Release/DialogControls.tlog/CL.command.1.tlog
/DialogControls/Release/DialogControls.tlog/Cl.items.tlog
/DialogControls/Release/DialogControls.tlog/CL.read.1.tlog
/DialogControls/Release/DialogControls.tlog/CL.write.1.tlog
/DialogControls/Release/DialogControls.tlog/DialogControls.lastbuildstate
/DialogControls/Release/DialogControls.tlog/link.command.1.tlog
/DialogControls/Release/DialogControls.tlog/link.read.1.tlog
/DialogControls/Release/DialogControls.tlog/link.secondary.1.tlog
/DialogControls/Release/DialogControls.tlog/link.write.1.tlog
/DialogControls/Release/DialogControls.tlog/rc.command.1.tlog
/DialogControls/Release/DialogControls.tlog/rc.read.1.tlog
/DialogControls/Release/DialogControls.tlog/rc.write.1.tlog
/DialogControls/Release/DialogControls.vcxproj.FileListAbsolute.txt
/DialogControls/Release/vc143.pdb
/DialogControls/x64/Debug/DialogControls.Build.CppClean.log
/DialogControls/x64/Debug/DialogControls.log
/DialogControls/x64/Debug/DialogControls.tlog/CL.command.1.tlog
/DialogControls/x64/Debug/DialogControls.tlog/DialogControls.lastbuildstate
/DialogControls/x64/Debug/DialogControls.tlog/unsuccessfulbuild
/DialogControls/x64/Debug/DialogControls.vcxproj.FileListAbsolute.txt
/DialogControls/x64/Debug/vc143.idb
/DialogControls/x64/Debug/vc143.pdb
/DialogControls/x64/Release/DialogControls.Build.CppClean.log
/DialogControls/x64/Release/DialogControls.log
/DialogControls/x64/Release/DialogControls.tlog/CL.command.1.tlog
/DialogControls/x64/Release/DialogControls.tlog/DialogControls.lastbuildstate
/DialogControls/x64/Release/DialogControls.tlog/unsuccessfulbuild
/DialogControls/x64/Release/DialogControls.vcxproj.FileListAbsolute.txt
/ExceptionTest/Release/ExceptionTest.tlog/Cl.items.tlog
/ExceptionTest/Release/ExceptionTest.tlog/link.secondary.1.tlog
/ExceptionTest/Release/vc143.pdb
/ExceptionTest/x64/Debug/ExceptionTest.Build.CppClean.log
/ExceptionTest/x64/Debug/ExceptionTest.cod
/ExceptionTest/x64/Debug/ExceptionTest.exe.recipe
/ExceptionTest/x64/Debug/ExceptionTest.log
/ExceptionTest/x64/Debug/ExceptionTest.obj
/ExceptionTest/x64/Debug/ExceptionTest.tlog/CL.command.1.tlog
/ExceptionTest/x64/Debug/ExceptionTest.tlog/CL.read.1.tlog
/ExceptionTest/x64/Debug/ExceptionTest.tlog/CL.write.1.tlog
/ExceptionTest/x64/Debug/ExceptionTest.tlog/ExceptionTest.lastbuildstate
/ExceptionTest/x64/Debug/ExceptionTest.tlog/link.command.1.tlog
/ExceptionTest/x64/Debug/ExceptionTest.tlog/link.read.1.tlog
/ExceptionTest/x64/Debug/ExceptionTest.tlog/link.write.1.tlog
/ExceptionTest/x64/Debug/ExceptionTest.tlog/unsuccessfulbuild
/ExceptionTest/x64/Debug/ExceptionTest.vcxproj.FileListAbsolute.txt
/ExceptionTest/x64/Debug/vc143.idb
/ExceptionTest/x64/Debug/vc143.pdb
/ExceptionTest/x64/Release/ExceptionTest.Build.CppClean.log
/ExceptionTest/x64/Release/ExceptionTest.exe.recipe
/ExceptionTest/x64/Release/ExceptionTest.log
/ExceptionTest/x64/Release/ExceptionTest.tlog/CL.command.1.tlog
/ExceptionTest/x64/Release/ExceptionTest.tlog/ExceptionTest.lastbuildstate
/ExceptionTest/x64/Release/ExceptionTest.tlog/unsuccessfulbuild
/ExceptionTest/x64/Release/ExceptionTest.vcxproj.FileListAbsolute.txt
/MDIDemo/Debug/MDIDemo.Build.CppClean.log
/MDIDemo/Debug/MDIDemo.exe.recipe
/MDIDemo/Debug/MDIDemo.ilk
/MDIDemo/Debug/MDIDemo.log
/MDIDemo/Debug/MDIDemo.res
/MDIDemo/Debug/MDIDemo.tlog/CL.command.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/Cl.items.tlog
/MDIDemo/Debug/MDIDemo.tlog/CL.read.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/CL.write.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/link.command.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/link.read.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/link.secondary.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/link.write.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/MDIDemo.lastbuildstate
/MDIDemo/Debug/MDIDemo.tlog/rc.command.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/rc.read.1.tlog
/MDIDemo/Debug/MDIDemo.tlog/rc.write.1.tlog
/MDIDemo/Debug/MDIDemo.vcxproj.FileListAbsolute.txt
/MDIDemo/Debug/vc143.idb
/MDIDemo/Debug/vc143.pdb
/MDIDemo/Debug/_IsIncrementalBuild
/MDIDemo/Release/MDIDemo.Build.CppClean.log
/MDIDemo/Release/MDIDemo.exe.recipe
/MDIDemo/Release/MDIDemo.iobj
/MDIDemo/Release/MDIDemo.ipdb
/MDIDemo/Release/MDIDemo.log
/MDIDemo/Release/MDIDemo.res
/MDIDemo/Release/MDIDemo.tlog/CL.command.1.tlog
/MDIDemo/Release/MDIDemo.tlog/Cl.items.tlog
/MDIDemo/Release/MDIDemo.tlog/CL.read.1.tlog
/MDIDemo/Release/MDIDemo.tlog/CL.write.1.tlog
/MDIDemo/Release/MDIDemo.tlog/link.command.1.tlog
/MDIDemo/Release/MDIDemo.tlog/link.read.1.tlog
/MDIDemo/Release/MDIDemo.tlog/link.secondary.1.tlog
/MDIDemo/Release/MDIDemo.tlog/link.write.1.tlog
/MDIDemo/Release/MDIDemo.tlog/MDIDemo.lastbuildstate
/MDIDemo/Release/MDIDemo.tlog/rc.command.1.tlog
/MDIDemo/Release/MDIDemo.tlog/rc.read.1.tlog
/MDIDemo/Release/MDIDemo.tlog/rc.write.1.tlog
/MDIDemo/Release/MDIDemo.vcxproj.FileListAbsolute.txt
/MDIDemo/Release/_IsIncrementalBuild
/MDIDemo/x64/Debug/MDIDemo.tlog/CL.read.1.tlog
/MDIDemo/x64/Debug/MDIDemo.tlog/CL.write.1.tlog
/MDIDemo/x64/Debug/MDIDemo.tlog/MDIDemo.lastbuildstate
/MDIDemo/x64/Debug/MDIDemo.tlog/unsuccessfulbuild
/MDIDemo/x64/Debug/MDIDemo.vcxproj.FileListAbsolute.txt
/MDIDemo/x64/Debug/vc143.idb
/MDIDemo/x64/Debug/vc143.pdb
/MDIDemo/x64/Release/MDIDemo.Build.CppClean.log
/MDIDemo/x64/Release/MDIDemo.log
/MDIDemo/x64/Release/MDIDemo.tlog/CL.command.1.tlog
/MDIDemo/x64/Release/MDIDemo.tlog/MDIDemo.lastbuildstate
/MDIDemo/x64/Release/MDIDemo.tlog/unsuccessfulbuild
/MDIDemo/x64/Release/MDIDemo.vcxproj.FileListAbsolute.txt
/SWKUI/x64/Debug/SWKUI.vcxproj.FileListAbsolute.txt
/SWKUI/x64/Release/SWKUI.Build.CppClean.log
/SWKUI/x64/Release/SWKUI.lib.recipe
/SWKUI/x64/Release/SWKUI.log
/SWKUI/x64/Release/SWKUI.tlog/CL.command.1.tlog
/SWKUI/x64/Release/SWKUI.tlog/SWKUI.lastbuildstate
/SWKUI/x64/Release/SWKUI.tlog/unsuccessfulbuild
/SWKUI/x64/Release/SWKUI.vcxproj.FileListAbsolute.txt
/SWKUI/x64/Debug/SWKUI.Build.CppClean.log
/SWKUI/x64/Debug/SWKUI.lib.recipe
/SWKUI/x64/Debug/SWKUI.log
/SWKUI/x64/Debug/SWKUI.tlog/CL.command.1.tlog
/SWKUI/x64/Debug/SWKUI.tlog/SWKUI.lastbuildstate
/SWKUI/x64/Debug/SWKUI.tlog/unsuccessfulbuild
/.vs/SWKTOOL/FileContentIndex/3c15d5ca-3e90-44ed-a021-cf28bec16c68.vsidx
/.vs/SWKTOOL/FileContentIndex/4c5315e1-fd89-4956-ac76-bf2c1e90df0c.vsidx
/.vs/SWKTOOL/FileContentIndex/8a4ade0c-a671-4ab0-8319-59870892c605.vsidx
/.vs/SWKTOOL/v18/Insiders/ipch/AutoPCH/1bb10965f111fb41/APPWINFRAME.ipch
/MDIDemo/x64/Debug/AppLog.obj
/MDIDemo/x64/Debug/MDIDemo.tlog/CL.command.1.tlog
/SignWave/Release/SignWave.tlog/CL.command.1.tlog
/SignWave/x64/Debug/SignWave.tlog/CL.command.1.tlog
/SignWave/x64/Release/SignWave.tlog/CL.command.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/CL.command.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/CL.command.1.tlog
/SimpleDialog/x64/Release/SimpleDialog.tlog/CL.command.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/CL.command.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/CL.command.1.tlog
/SimpleWindow/x64/Release/SimpleWindow.tlog/CL.command.1.tlog
/SWKBase/Debug/_IsIncrementalBuild
/SWKBase/Release/SWKBase.tlog/CL.command.1.tlog
/SWKBase/Release/_IsIncrementalBuild
/SWKBase/x64/Debug/SWKBase.tlog/CL.command.1.tlog
/SWKUI/Debug/_IsIncrementalBuild
/SWKUI/Release/_IsIncrementalBuild
/ExceptionTest/ExceptionTest.vcxproj
/MDIDemo/x64/Debug/MDIDemo.Build.CppClean.log
/MDIDemo/x64/Debug/MDIDemo.log
/Release/DialogControls.exe
/Release/DialogControls.pdb
/Release/ExceptionTest.exe
/Release/ExceptionTest.pdb
/Release/MDIDemo.exe
/Release/MDIDemo.pdb
/SignWave/Release/SignWave.tlog/Cl.items.tlog
/SignWave/Release/SignWave.tlog/CL.read.1.tlog
/SignWave/Release/SignWave.tlog/CL.write.1.tlog
/SignWave/Release/SignWave.tlog/link.command.1.tlog
/SignWave/Release/SignWave.tlog/link.read.1.tlog
/SignWave/Release/SignWave.tlog/link.secondary.1.tlog
/SignWave/Release/SignWave.tlog/link.write.1.tlog
/SignWave/x64/Debug/SignWave.tlog/CL.read.1.tlog
/SignWave/x64/Debug/SignWave.tlog/CL.write.1.tlog
/SignWave/x64/Debug/SignWave.tlog/link.command.1.tlog
/SignWave/x64/Debug/SignWave.tlog/link.read.1.tlog
/SignWave/x64/Debug/SignWave.tlog/link.write.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/Cl.items.tlog
/SimpleDialog/Release/SimpleDialog.tlog/CL.read.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/CL.write.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/link.command.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/link.read.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/link.secondary.1.tlog
/SimpleDialog/Release/SimpleDialog.tlog/link.write.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/CL.read.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/CL.write.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link-cvtres.read.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link-cvtres.write.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link-rc.read.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link-rc.write.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link.command.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link.read.1.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link.read.2.tlog
/SimpleDialog/x64/Debug/SimpleDialog.tlog/link.write.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/Cl.items.tlog
/SimpleWindow/Release/SimpleWindow.tlog/CL.read.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/CL.write.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/link.command.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/link.read.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/link.secondary.1.tlog
/SimpleWindow/Release/SimpleWindow.tlog/link.write.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/CL.read.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/CL.write.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link-cvtres.read.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link-cvtres.write.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link-rc.read.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link-rc.write.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link.command.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link.read.1.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link.read.2.tlog
/SimpleWindow/x64/Debug/SimpleWindow.tlog/link.write.1.tlog
/SWKBase/Release/SWKBase.tlog/Cl.items.tlog
/SWKBase/Release/SWKBase.tlog/CL.read.1.tlog
/SWKBase/Release/SWKBase.tlog/CL.write.1.tlog
/SWKBase/Release/SWKBase.tlog/Lib-link.write.1.tlog
/SWKBase/Release/SWKBase.tlog/Lib.command.1.tlog
/SWKBase/Release/SWKBase.tlog/Lib.read.1.tlog
/SWKBase/x64/Debug/DebugStream.obj
/SWKBase/x64/Debug/Exception.obj
/SWKBase/x64/Debug/Logger.obj
/SWKBase/x64/Debug/SWKBase.tlog/Cl.items.tlog
/SWKBase/x64/Debug/SWKBase.tlog/CL.read.1.tlog
/SWKBase/x64/Debug/SWKBase.tlog/CL.write.1.tlog
/SWKBase/x64/Debug/SWKBase.tlog/Lib-link.read.1.tlog
/SWKBase/x64/Debug/SWKBase.tlog/Lib-link.write.1.tlog
/SWKBase/x64/Debug/SWKBase.tlog/Lib.command.1.tlog
/SWKBase/x64/Release/SWKBase.tlog/CL.command.1.tlog
/SWKUI/Release/SWKUI.tlog/CL.command.1.tlog
/SWKUI/Release/SWKUI.tlog/Cl.items.tlog
/SWKUI/Release/SWKUI.tlog/CL.read.1.tlog
/SWKUI/Release/SWKUI.tlog/CL.write.1.tlog
/SWKUI/Release/SWKUI.tlog/Lib-link.write.1.tlog
/SWKUI/Release/SWKUI.tlog/Lib.command.1.tlog
/SWKUI/Release/SWKUI.tlog/Lib.read.1.tlog
/SignWave/Release/msxml6.tlh
/SignWave/Release/msxml6.tli
/SignWave/x64/Debug/msxml6.tlh
/SignWave/x64/Debug/msxml6.tli
/SWKBase/Release/msxml6.tlh
/SWKBase/Release/msxml6.tli
/SWKBase/x64/Debug/msxml6.tlh
/SWKBase/x64/Debug/msxml6.tli
/SWKBase/x64/Debug/pch.obj
/SWKUI/Release/MsgHandler.obj
/SignWave/Debug/SignWave.vcxproj.FileListAbsolute.txt
/SignWave/Release/SignWave.vcxproj.FileListAbsolute.txt
/SignWave/x64/Debug/SignWave.vcxproj.FileListAbsolute.txt
/SignWave/x64/Release/SignWave.vcxproj.FileListAbsolute.txt
/SimpleDialog/Debug/SimpleDialog.vcxproj.FileListAbsolute.txt
/SimpleDialog/Release/SimpleDialog.vcxproj.FileListAbsolute.txt
/SimpleDialog/x64/Debug/SimpleDialog.vcxproj.FileListAbsolute.txt
/SimpleDialog/x64/Release/SimpleDialog.vcxproj.FileListAbsolute.txt
/SimpleWindow/Debug/SimpleWindow.vcxproj.FileListAbsolute.txt
/SimpleWindow/Release/SimpleWindow.vcxproj.FileListAbsolute.txt
/SimpleWindow/x64/Debug/SimpleWindow.vcxproj.FileListAbsolute.txt
/SimpleWindow/x64/Release/SimpleWindow.vcxproj.FileListAbsolute.txt
/SWKBase/Debug/SWKBase.vcxproj.FileListAbsolute.txt
/SWKBase/Release/SWKBase.vcxproj.FileListAbsolute.txt
/SWKBase/x64/Debug/SWKBase.vcxproj.FileListAbsolute.txt
/SWKBase/x64/Release/SWKBase.vcxproj.FileListAbsolute.txt
/SWKUI/Debug/SWKUI.vcxproj.FileListAbsolute.txt
/SWKUI/Release/SWKUI.vcxproj.FileListAbsolute.txt
